@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pattaya&display=swap');


.countdown-heading-container{
  margin: 0;
  padding: 0;
  background-color: #f2f1ed;
}

.cd-heading {
  font-family: "Fugaz One", cursive;
  font-size: 5rem;
  font-weight: 700;
  color: #2a2a2a;
  text-align: center;
  position: relative;
  background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 40px;
  line-height: normal;
  padding: 0px 5px 0px 5px;
}

.countdown-container{
    position: relative; 
    background-color: #f2f1ed;
    padding: 50px 0;
    background:  linear-gradient(to top, rgb(255, 206, 150), #f2f1ed);
}


.flip-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; 
    text-align: center;
    color: white;
    z-index: 2;
  }

  .countdown-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
 
  .flip-clock *,
  .flip-clock *:before,
  .flip-clock *:after {
    box-sizing: border-box;
  }
 
  .flip-clock__piece {
    display: inline-block;
    margin: 0 5px;
  }
 
  .flip-clock__slot {
    font-size: 2vw;
    background-color: #393939;
    border-radius: 8px;
    padding: 5px 2.2em;
    font-weight: 600;
  }
 
  .card {
    display: block;
    position: relative;
    padding-bottom: 0.72em;
    font-size: 9vw;
    line-height: 0.95;
  }
 
  .card__top,
  .card__bottom,
  .card__back::before,
  .card__back::after {
    display: block;
    height: 0.72em;
    color: #ccc;
    background: #222;
    padding: 0.25em 0.25em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 2.0em;
    transform: translateZ(0);
  }
 
  .card__bottom {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #000;
    background: #393939;
    border-radius: 0 0 0.15em 0.15em;
    pointer-events: none;
    overflow: hidden;
  }
 
  .card__bottom::after {
    content: attr(data-value);
    display: block;
    margin-top: -0.72em;
  }
 
  .card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    pointer-events: none;
  }
 
  .card__back::before {
    content: attr(data-value);
    position: relative;
    z-index: -1;
    overflow: hidden;
  }


  .card{
    border-radius: 15px;
  }
 
  .flip .card__back::before {
    animation: flipTop 0.3s cubic-bezier(.37, .01, .94, .35);
    animation-fill-mode: both;
    transform-origin: center bottom;
  }
 
  .flip .card__back .card__bottom {
    transform-origin: center top;
    animation-fill-mode: both;
    animation: flipBottom 0.6s cubic-bezier(.15, .45, .28, 1);
  }


  .flip-clock__card.card{
    border-radius: 25px;
  }
 
  @keyframes flipTop {
    0% {
      transform: rotateX(0deg);
      z-index: 2;
    }
    0%, 99% {
      opacity: 0.99;
    }
    100% {
      transform: rotateX(-90deg);
      opacity: 0;
    }
  }
 
  @keyframes flipBottom {
    0%, 50% {
      z-index: -1;
      transform: rotateX(90deg);
      opacity: 0;
    }
    51% {
      opacity: 0.99;
    }
    100% {
      opacity: 0.99;
      transform: rotateX(0deg);
      z-index: 5;
    }
  }
 
  @media (max-width: 350px) {
    .countdown-container {
      padding: 0px 0px;
    }


    .cd-heading {
      font-size: 2rem;
      font-weight: 700;
      top: 20px;
    }
  }
 
  @media (min-width: 351px) and (max-width: 500px) {
    .countdown-container {
      padding: 30px 0;
    }


    .cd-heading {
      font-size: 2.7rem;
      font-weight: 700;
      top: 30px;
      margin-bottom: 20px;
    }
  }


  @media (min-width: 500px) and (max-width: 800px) {
    .countdown-container {
      padding: 50px 0;
    }


    .cd-heading {
      font-size: 3.5rem;
      font-weight: 700;
      top: 40px;
      margin-bottom: 20px;
    }
  }


  @media (min-width: 1024px){
    .cd-heading {
      top: 80px;
      margin-bottom: 50px;
    }
  }