@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Delius&family=Galada&family=Honk&family=Imperial+Script&family=Kaushan+Script&family=Lavishly+Yours&family=Modak&family=Mogra&family=Niconne&family=Pattaya&family=Pirata+One&family=Rouge+Script&family=Rubik+Gemstones&family=Satisfy&family=Updock&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.mindmap-container {
  background: rgb(60, 182, 241);


  background-color: rgb(104, 4, 4);
  background:  linear-gradient(to bottom, rgb(173, 8, 8) 0%, rgb(122, 27, 6) 20%, rgb(104, 4, 4) 30%);;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Courier New", Courier, monospace; 
  cursor: zoom-in;
  height: 650px;
  padding-bottom: 120px;
}
.pre-heading {
  text-align: center;
  margin: 0;
  font-size: 70px;
  font-weight: bold;
  color: #fffae0; 
  font-family: "Courier New", Courier, monospace;
  padding: 10px 20px;
  background-color: rgb(173, 8, 8) ;
  background:  linear-gradient(to bottom, rgb(255, 206, 150), rgb(173, 8, 8));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  padding-bottom: 100px;
  padding-top: 20px;
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}


.mindmap-background {
  position: relative;
  width: 700px;
  height: 600px;
  background-image: url("/public/images/musicmap_2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   transform: rotate(-3deg);
 
}


.zigzag-line {
  border: 2px solid red; 
  background: yellow;
  width: 100px !important; 
  height: 100px !important;
}


.theme-pin {
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}




.theme-pin img {
  width: 100px;
  height: 100px;
  border: 2px solid #02356e;
  border-radius: 50%; 
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  object-fit: cover; 
}


.theme-pin img:hover {
  transform: scale(1.1);
  transform: rotate(5deg); 
}


.theme-pin:after {
  content: "";
  width: 0;
  height: 12px;
  border: 1px solid #555;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}


.polaroid-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}


.polaroid {
  width: 90%; 
  max-width: 300px;
  background-color: #fff;
  border: 5px solid #fff; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transform: rotate(0deg); 
}


.polaroid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.polaroid-description {
  padding: 10px;
  font-size: 14px; 
  color: #333;
  font-weight: bold;
}




@media (max-width: 760px) {
   .mindmap-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-x: hidden; 
  }


  .heading {
    font-size: 1.5rem;
    max-width: 100%;
    padding-bottom: 30px;
  }


  .mindmap-background {
    width: 90%; 
    height: 400px;
    margin: 0 auto; 
    overflow: hidden; 
    margin-bottom: 40px;
  }


  .theme-pin img {
    max-width: 100%; 
    height: auto;
  }


  .polaroid-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px; 
  }


  .polaroid {
    max-width: 90%; 
  }
  .polaroid-description {
    font-size: 12px;
  }
  .theme-pin {
    top: calc(50% - 20px); 
    left: calc(50% - 20px);
  }
  .zigzag-line {
    display: none; 
  }

  svg{
    display: none;
  }
 }


@media (max-width: 480px) {
.pre-heading {
  text-align: center;
  margin: 0;
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}
}

