@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pattaya&display=swap');




.dev-team-body {
    margin: 0;
    padding: 0;
}


.dev-team-section {
    font-family:'Poppins', sans-serif;
    text-align: center;
    padding: 30px 50px 50px 50px;
    background: linear-gradient(180deg,rgb(88, 0, 76) 0.1%, rgb(49, 47, 218) 20%, rgb(0, 132, 255) 100%);
}


.dev-team-section h1 {
    font-family: "Fugaz One", cursive;
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: 10px;
    color: whitesmoke;
    font-weight: 700;
}


.dev-team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    padding: 0 120px;
}


.dev-team-member {
    background-color: transparent;
    background-image: url(/src/star_dev_images/dev_bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #5b8efc;
    border-radius: 8px;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    width: 350px;
    height: 380px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}






.dev-team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.dev-team-member img {
    margin-top: 12.5px;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid whitesmoke;
}


.dev-team-member h3 {
    margin: 13px 2px;
    font-size: 1rem;
    font-weight: 700;
    background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);
    background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (max-width: 340px) {
    .dev-team-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .dev-team-member img {
        width: 150px;
        height: 150px;
        margin-top: 7.5px;
    }


    .dev-team-section {
        padding: 20px;  
    }
    .dev-team-member {
        width: 200px;
        height: 220px;
    }
   
}


@media (min-width: 340px) and (max-width: 400px) {
    .dev-team-section h1 {
        font-size: 2rem;
    }
    .dev-team-container {
        gap: 16px;
    }
}


@media (min-width: 400px) and (max-width: 500px) {


    .dev-team-section h1 {
        font-size: 2rem;
    }
    .dev-team-container {
        gap: 24px;
    }
}


@media (min-width: 340px) and (max-width: 550px) {


    .dev-team-section h1 {
        font-size: 2rem;
    }


    .dev-team-container {
        grid-template-columns: repeat(2, 1fr);  
    }


    .dev-team-member img {
        width: 120px;
        height: 120px;
        margin-top: 7.5px;
    }  


    .dev-team-section {
        padding: 10px;  
    }


    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 150px;
        height: 195px;
    }
}


@media (min-width: 550px)  and (max-width: 750px){
    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 150px;
        height: 195px;
    }

    .dev-team-container {
        grid-template-columns: repeat(3, 1fr);  
    }

    .dev-team-member img {
        width: 120px;
        height: 120px;
        margin-top: 7.5px;  
    }


    .dev-team-section {
        padding: 10px;  
    }


    .dev-team-container {
        gap: 20px;
    }  
}


@media (min-width: 750px)  and (max-width: 900px){
    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 180px;
        height: 220px;
    }

    .dev-team-container {
        grid-template-columns: repeat(3, 1fr);  
    }

    .dev-team-member img {
        width: 150px;
        height: 150px;
        margin-top: 7.5px;  
    }


    .dev-team-section {
        padding: 15px;  
    }


    .dev-team-container {
        gap: 30px;  
    }
}


@media (min-width: 900px) and (max-width: 1024px) {
    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 210px;
        height: 260px;
    }


    .dev-team-member img {
        width: 180px;
        height: 180px;
        margin-top: 7.5px;  
    }


    .dev-team-member h3 {
        font-size: 1rem;  
    }


    .dev-team-container {
        gap: 40px;  
    }

    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 180px;
        height: 220px;
    }


    .dev-team-member img {
        width: 150px;
        height: 150px;
        margin-top: 7.5px;  
    }


    .dev-team-section {
        padding: 15px;  
    }


    .dev-team-container {
        gap: 30px;  
    }

}


@media (min-width: 1024px) {


     .dev-team-section {
        padding: 30px 60px 50px 60px;
    }


    .dev-team-section h1 {
        margin-bottom: 60px;
        margin-top: 20px;
        font-size: 3rem;
    }


    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 270px;
        height: 305px;
        margin-bottom: 70px;
    }


    .dev-team-member img {
        width: 220px;
        height: 220px;
        margin-top: 12.5px;
        margin-bottom: 5px;
    }


    .dev-team-member h3 {
        font-size: 1rem;  
    }


    .dev-team-container {
        gap: 70px;
    }

    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 180px;
        height: 220px;
    }


    .dev-team-member img {
        width: 150px;
        height: 150px;
        margin-top: 7.5px;  
    }


    .dev-team-section {
        padding: 15px;  
    }


    .dev-team-container {
        gap: 30px;  
    }

    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 210px;
        height: 260px;
    }


    .dev-team-member img {
        width: 180px;
        height: 180px;
        margin-top: 7.5px;  
    }


    .dev-team-member h3 {
        font-size: 1rem;  
    }


    .dev-team-container {
        gap: 40px;  
    }

    .dev-team-member{
        padding: 8px 8px 0 8px;
        width: 180px;
        height: 225px;
    }


    .dev-team-member img {
        width: 150px;
        height: 150px;
        margin-top: 7.5px;  
    }


    .dev-team-section {
        padding: 15px;  
    }


    .dev-team-container {
        gap: 30px;  
    }

}

