/* Overall container for the event swiper */
.event-container {
    height: 100%;
    width: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  

/* Swiper styling */
.event-swiper {
    width: 750px; /* Adjust the overall swiper width */
    max-width: 550px; /* Optional: To limit the maximum width */
    height: auto; /* Adjust the height to your desired size */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  /* Individual slide styling */
  .event-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  /* Styling for images inside the swiper slides */
  .event-slide-img {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Styling for swiper slides */
  .event-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  /* Optional: Swiper pagination and navigation button styling */
  .event-swiper .swiper-pagination-bullet {
    background-color: #000;
  }
  
  .event-swiper .swiper-button-next,
  .event-swiper .swiper-button-prev {
    color: #000;
  }
  