.item .description {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Abel", sans-serif;
  z-index: 1;
  white-space: nowrap;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.item.broadway-ballad .content {
  color: #fdfdfd;
  right: -8%;
  font-size: 90px;
  
  font-family: "Times New Roman", serif;
  letter-spacing: 2px;
  z-index: 999;
}

.item.street-beats .content {

  color: rgb(255, 255, 255);
  

  font-family: "Arial Black", sans-serif;
  font-size: 90px;
  right: -10%;
  z-index: 999;
}

.item.item.chart-pop-ers .content {
  
  color: rgb(255, 255, 255);

  font-family: "Impact", sans-serif;
  letter-spacing: 2px;
  z-index: 999;
}

.item.allankar-allure .content {

  color: rgb(255, 255, 255);


  font-family: "Georgia", serif;
  font-size: 70px;
  font-style: italic;
  align-items: center;
  z-index: 999;
}

.item.active .description {
  animation: fadeIn 0.8s ease-in-out;
}

.item.hidden .description {
  opacity: 0;
  animation: none;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  background: transparent;
  margin: 0;
  padding: 0;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.item img.fruit {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
  background: transparent;
  opacity: 0.5;
  background-color: #000000;

  object-fit: cover;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 9rem;
  color: rgb(236, 232, 234);
  font-weight: bold;
  font-family: system-ui;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
}

.item .day {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5rem;
  color: #eee;
  font-weight: bold;
  font-family: "Ysabeau SC", serif;
  white-space: nowrap;
  padding-bottom: 15px;
  z-index: 20;
}

.item.active {
  display: block;
}
.item.hidden {
  display: block;
  pointer-events: none;
  background-color: transparent;
  z-index: 1;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #eee9;
  background-color: #eee5;
  color: #eee;
  font-size: x-large;
  font-family: monospace;
  cursor: pointer;
  z-index: 15;
}
#prev {
  left: 20px;
}
#next {
  right: 20px;
}

@keyframes toActive {
  from {
    top: 100%;
    opacity: 0;
  }
}
@keyframes toOut {
  from {
    top: 50%;
    opacity: 1;
  }
}
.item.active img.fruit {
  animation: toActive 0.5s ease-in-out 1;
  opacity: 0.5;
}
.item.hidden img.fruit {
  animation: toOut 0.8s ease-in-out 1;
  top: -100%;
}
.item.active .content {
  animation: toActive 0.8s ease-in-out 1;
}

.item.active .day {
  animation: toActive 0.8s ease-in-out 1;
}

.item.active .description {
  animation: toActive 0.8s ease-in-out 1;
}

.item.active .day {
  animation: toActive 0.8s ease-in-out 1;
}

.item.hidden .content {
  opacity: 0;
}

.item.hidden .day {
  opacity: 0;
}

.item.hidden .day {
  opacity: 0;
}

.carousel.right .item.active img.fruit {
  animation: toActivePrev 0.5s ease-in-out 1;
}
.carousel.right .item.hidden img.fruit {
  animation: toOut 0.8s ease-in-out 1;
  top: 100%;
  opacity: 0;
}
.carousel.right .item.active .content {
  animation: toActivePrev 0.8s ease-in-out 1;
}

.carousel.right .item.active .day {
  animation: toActivePrev 0.8s ease-in-out 1;
}

.carousel.right .item.active .description {
  animation: toActivePrev 0.8s ease-in-out 1;
}

@keyframes toActivePrev {
  from {
    top: 0;
    opacity: 0;
  }
}

:root {
  --width-mockup: calc(500px);
  --height-mockup: calc(900px);
}

.stick {
}

.mockup {
  position: absolute;
  top: 55%;
  left: -1%;
  --left: 0%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: var(--height-mockup);
  width: var(--width-mockup);
  background: url("../images/mockup.png") center center no-repeat;

  background-size: contain;
  -webkit-mask-image: url("../images/mockup.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  mask-image: url("../images/mockup.png");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  z-index: 2;
}

@media (max-width: 1200px) {
  .mockup {
    height: 400px;
    width: 400px;
  }

  .item .content {
    font-size: 5rem;
  }
  .item .day {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .mockup {
    height: 300px;
    width: 300px;
  }

  .item .content {
    font-size: 4rem;
  }
  .item .day {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .mockup {
    height: 250px;
    width: 250px;
  }

  .item .content {
    font-size: 3rem;
  }
  .item .day {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .mockup {
    height: 200px;
    width: 200px;
  }

  .item .content {
    font-size: 2.5rem;
  }
  .item .day {
    font-size: 1.5rem;
  }

  .item .description {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .mockup {
    height: 180px;
    width: 180px;
  }

  .item .content {
    font-size: 2rem;
  }
  .item .day {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .item.broadway-ballad .content {
    font-size: 4rem;
  }

  .item.allankar-allure .content {
    font-size: 4rem;
  }

  .item.streetbeat .content {
    font-size: 4rem;
  }
  .item.chart-pop .content {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .item.broadway-ballad .content {
    font-size: 3.5rem;
  }

  .item.allankar-allure .content {
    font-size: 3.5rem;
  }

  .item.streetbeat .content {
    font-size: 3.5rem;
  }
  .item.chart-pop .content {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .item.broadway-ballad .content {
    font-size: 3rem;
  }

  .item.allankar-allure .content {
    font-size: 3rem;
  }

  .item.streetbeat .content {
    font-size: 3rem;
  }
  .item.chart-pop .content {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .item.broadway-ballad .content {
    font-size: 2rem;
  }

  .item.allankar-allure .content {
    font-size: 2rem;
  }

  .item.streetbeat .content {
    font-size: 2rem;
  }
  .item.chart-pop .content {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .item .day {
    font-size: 2rem;
  }
  .item.broadway-ballad .content {
    font-size: 1.2rem;
    background-color: rgba(82, 9, 9, 0.6);
  }

  .item.allankar-allure .content {
    font-size: 1.5rem;
    font-weight: 1000;
    margin-left: 20px;
    background-color: rgba(109, 9, 9, 0.6);
    
  }

  .item.street-beats .content {
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0, 0.6);
  }
  .item.chart-pop-ers .content {
    font-size: 2rem;
    background-color: rgba(84, 8, 55, 0.6);
  }
}
