.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #004d80, #ffcc00); /* A nice deep blue color */
    color: #ffffff; /* White text color for contrast */
   
    height: 120px; /* Adjust height as needed */
    z-index : 1000;
    position: sticky;
    top: 0px;
    width: 100%;
    
  }
  
  .header img {
    height: 80px; /* Adjust the logo size if necessary */
  }
  
  .college-name {
    font-family: 'Brush Script MT', cursive; /* Specific cursive font */
    font-size: 3.2em;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: #ffcc00;
    letter-spacing: 12px;
  }
  
  
  #logo1, #logo2 {
    height: 80px;
    width: auto;
  }
  