body{
  margin: 0px;
  background: rgb(3, 59, 29);
  background: linear-gradient(
  to top,
  rgb(209, 247, 241) 8.3%, /* Matches the 8.3% start point */
  rgb(249, 213, 213) 81% /* Matches the 81% end point */
);

}