 .gallery-container {
    width: 100vw;
    height: 450px;
    overflow: hidden;
    position: relative;
    background-color: rgb(99, 6, 6);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='510' height='120'><text x='0' y='60' font-size='60' font-weight='bold' fill='rgba(0, 0, 0, 0.889)' font-family='Arial'>Gandhaar-2024</text><line x1='0' y1='100' x2='510' y2='100' stroke='black' stroke-width='4' /></svg>");
    background-repeat: repeat;
    background-size: 200px 120px;  
    display: flex;
  }
  
  .image-grid {
    display: inline-flex;
    gap: 28px;
    position: relative;
    z-index: 1;
    animation: scrollImages 12s linear infinite;
  }
  
  .image-grid:hover {
    animation-play-state: paused;
  }
  
  @keyframes scrollImages {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
   .image-item {
    display: inline-block;
    /* width: 150px;  
    height: 200px;   */
    position: relative;
    overflow: hidden; /* Ensures the image does not overflow the container */
  }


  .image-item img {
    border: 5px solid rgb(0, 0, 0);
    width: 90%;  
    height: 90%;  
    /* object-fit: cover;   */
    display:block;
  }
  
  .image-item:nth-child(1){
    padding-top: 100px;
    height: 122px;
    width: 160px;
  }
 
  .image-item:nth-child(2) {
    padding-top: 220px;
    height: 122px;
    width: 160px;
     
  }
  
   .image-item:nth-child(3) {
    padding-top: 0px;
    height: 235px;
    width: 307px;  
    
  }
  
  .image-item:nth-child(4) {
    padding-top: 100px;
    height: 122px;
    width: 160px;

      
  }  

  .image-item:nth-child(5) {
    padding-top: 0px;
    height: 100px;  
    width: 131px;
    
  } 

  .image-item:nth-child(6) {
    padding-top: 100px;
    height: 122px;
    width: 160px; 
      
  }

  .image-item:nth-child(7) {
    padding-top: 220px;
    height: 248px;  
    width:326px; 
  }

  .image-item:nth-child(8) {
    padding-top: 100px;
    height: 122px;
    width: 160px; 
  }

  .image-item:nth-child(9) {
    padding-top: 220px;
    height: 248px;  
    width:326px;  
  }

  .image-item:nth-child(10) {
      padding-top: 0px;
      height: 235px; 
      width: 308px; 
  }

  .image-item:nth-child(11) {
    padding-top: 220px;
    height: 248px;  
    width:326px;   
  }

  .image-item:nth-child(12) {
    padding-top: 100px;
    height: 122px;
    width: 160px; 
  }

  .image-item:nth-child(13) {
    padding-top: 100px;
    height: 122px;
    width: 160px; 
  }

  .image-item:nth-child(14) {
    padding-top: 220px;
    height: 230px; 
    width: 301px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-content {
    position: relative;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 80vh;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;  
    cursor: pointer;
    background-color: white;  
    border-radius: 50%;
    width: 30px;  
    height: 30px;  
    border: 2px solid black;    
    display: flex;  
    justify-content: center;  
    align-items: center;  
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }
 
 /* Media Queries */
@media (max-width: 768px) {
    .gallery-container {
        height: 450px;
    }

    .image-grid {
        gap: 15px;
    }

    .image-item {
        width: 100px;
        height: auto;
    }

    
}

@media (max-width: 480px) {
    .gallery-container {
        height: 450px;
    }

    .image-item {
        width: 80px;
    }

    .modal-image {
      max-width: 100%;
      max-height: 80vh;
    }

    .arrow {
        font-size: 1.2rem;
    }

    .close {
        width: 25px;
        height: 25px;
        font-size: 1rem;
    }
 
}