@import url("https://fonts.googleapis.com/css2?family=Almendra+SC&family=Delius&family=Galada&family=Honk&family=Imperial+Script&family=Kaushan+Script&family=Lavishly+Yours&family=Modak&family=Mogra&family=Niconne&family=Pattaya&family=Pirata+One&family=Rouge+Script&family=Rubik+Gemstones&family=Satisfy&family=Updock&family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://db.onlinewebfonts.com/c/7e96eba370659b4e4563309dc4ebb33f?family=Samarkan+Normal+V2");

.gallery {
  background: linear-gradient(to top, rgb(83, 13, 188), #669eff 100%),
    url("/src/images/bg9.png");
}

.gallery-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  background-image: url("/src/images/bg9.png");

  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;  
  background-blend-mode: overlay;  
  padding-top: 100px;
}

.gallery-title {
  margin-top: 0px;
  font-size: 100px;
  margin-bottom: 10px;  
  text-align: center;
  color: rgb(0, 0, 0) !important;
  font-family: "Samarkan Normal V2", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.image-grid {
  display: inline-flex;
  gap: 28px;
  position: relative;
  z-index: 1;
  animation: scrollImages 50s linear infinite;
  will-change: transform;
}

.image-grid:hover {
  animation-play-state: paused !important;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.image-item {
  width: auto;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 9px solid rgb(0, 0, 0);
  cursor: pointer;
}

.image-item:nth-child(1) {
  margin-left: 300px;
  padding-top: 0px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(2) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(3) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(4) {
  padding-top: 0px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(5) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(6) {
  padding-top: 0px;
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(7) {
  margin-top: 218px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(8) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(9) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(10) {
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(11) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(12) {
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(13) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(14) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(15) {
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(16) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(17) {
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(18) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(19) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(20) {
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(21) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(22) {
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(23) {
  margin-top: 218px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(24) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(25) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(26) {
  padding-top: 0px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(27) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(28) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(29) {
  padding-top: 0px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(30) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(31) {
  padding-top: 0px;
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(32) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(33) {
  padding-top: 0px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(34) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-item:nth-child(35) {
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(36) {
  margin-top: 218px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(37) {
  margin-top: 340px;
  width: 98px;
  height: calc(98 / 231 * 285px);
}

.image-item:nth-child(38) {
  margin-top: 218px;
  width: 196px;
  height: calc(196 / 231 * 285px);
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  position: relative;
  border-radius: 10px;
  text-align: center;
  max-width: 65%;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
}
 
.arrow {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-50%);
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

 
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .image-item {
    flex: 1 1 calc(50% - 20px);  
    max-width: calc(50% - 20px);  
  }

  .modal-content {
    position: relative;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;  
  }
   
.arrow {
  position: absolute;
  top: 22%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-50%);
}
}

@media (max-width: 768px) {
  .image-item {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);
  }

  .modal-content {
    position: relative;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
  }
   
.arrow {
  position: absolute;
  top: 22%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-50%);
}
}

@media (max-width: 480px) {
  .gallery-title {
    font-size: 55px;
    font-weight: 900px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .image-item {
    flex: 1 1 100%;  
    max-width: 100%;
  }

  .modal-content {
    position: relative;
    border-radius: 10px;
    text-align: center;
    max-width: 95%;
  }

   
.arrow {
  position: absolute;
  top: 22%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-50%);
}
}
