/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pattaya&display=swap');

/* General Page Styling */
.registration-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: "Montserrat", serif; /* Applying Montserrat font */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}

.regPage-content h1, .regPage-content p {
  color: #2e1a47; 
}

.regPage-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%); /* Gradient text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Fugaz One", cursive; 
}

.regPage-content p {
  font-size: 1.3rem;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif; 
  font-weight: 500;
}



.bubbles {
  position: fixed; /* Fixed to the viewport */
  top: 0;
  left: 22%; /* Start from the right of the 20% sidebar */
  width: 80%; /* Occupy the remaining 80% */
  height: 100%; /* Full height */
  overflow: hidden;
  z-index: 1; /* Ensure it stays on top */
}

  @media(max-width: 400px){
    .regPage-content h1 {
        font-size: 2rem;
      }
      
      .regPage-content p {
        font-size: 1rem;
      }

  }

  @media (min-width: 1000px) {
    .regPage-content h1 {
        font-size: 5rem;
      }
      
      .regPage-content p {
        font-size: 2rem;
      }

  }