.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 
.control-button {
  position: absolute;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 10px;  
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

 
.top-left {
  top: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 7px;
  right: 40px;
}

 
.control-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

 
@media (max-width: 768px) {
  .video-container {
    height: 70vh;  
  }

  .fullscreen-video {
    object-fit: contain;  
    width: 100%;
    height: auto;
  }

  .control-button {
    font-size: 30px;  
    padding: 8px;
  }

  .top-left {
    top: 5px;
    left: 5px;
  }

  .bottom-right {
    bottom: 5px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .video-container {
    height: 100vh;  
    background-color: black;
  }

  .fullscreen-video {
    object-fit: contain;  
    width: 100%;
    height: auto;
  }

  .control-button {
    font-size: 24px;  
    padding: 6px;
  }

  .top-left {
    top: 200px;
    left: 5px;
  }

  .bottom-right {
    bottom: 200px;
    right: 5px;
  }
}
