@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Rubik+Gemstones&display=swap');

.star-lineup-container {
  padding: 50px 20px;
  background: black;
  text-align: center;
  height: 620px;
  background-image: url("/src/star_dev_images/stage12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.star-gift-container {
  position: relative;
  top: 320px;
  left: -50%;
}

.star-gift-container::before {
  content: '';
  position: absolute;
  width: 160px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  top: 90px;
  right: -50px;
}

.star-gift {
  position: absolute;
  width: 160px;
  height: 100px;
  background-color: #FF6F00;
  background: linear-gradient(107deg, rgb(255, 67, 5) 11.1%, rgb(245, 135, 0) 95.3%);  
  right: -50px;
}

.star-gift::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: #FFCC00;
  background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
  left: 70px;
}

.star-gift::after {
  content: '';
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  width: 160px;
  height: 100px;
  left: 0px;
}

#star-click {
  display: none;
}

.star-click {
  position: absolute;
  background-color: #FFCC00;
  background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
  width: 180px;
  height: 35px;
  top: -35px;
  left: -10px;
  transform-origin: bottom left;
  transition: 0.3s;
  cursor: pointer;
}

.star-click {
  display: inline-block;
  font-family: 'Satisfy', cursive;
  font-size: 16px;
  color: black;
  text-shadow: 
    0 0 5px rgba(255, 204, 0, 0.8),
    0 0 10px rgba(255, 111, 0, 0.7),
    0 0 15px rgba(255, 179, 0, 0.6),
    0 0 20px rgba(0, 0, 0, 0.5);
  animation: glow-pulse 1.5s infinite;
  cursor: pointer;
  transition: transform 0.3s ease; 
}


.star-click::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 30px solid #FF6F00;
  border-top: 30px solid #FF6F00;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 75px;
  top: -44.6px;
}

#star-click:checked+.star-click {
  transform: rotate(-115deg) scale(0.85);
}

.star-card-container {
  position: relative;
  transform: translateY(180px);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
}

#star-click:checked~.star-card-container {
  transform: translateY(-20px) translateX(-55px);
  visibility: visible;
  opacity: 1;
}

.star-card {
  position: absolute;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(10deg) scale(1.1, 1.1);
  border-radius: 20px;
  border: 5px solid transparent;
  background: linear-gradient(to right, #FFCC00, #FFEB3B);
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  bottom: 1px;
  left: 0px;
  background-clip: padding-box;
}

.star-card::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(45deg, #FFCC00, #FFB300, #FF6F00, #000000, #FFEB3B);
  background-size: 300% 300%;
  animation: glowing-border 4s ease-in-out infinite;
}

@keyframes glowing-border {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.star-card:hover {
  transform: scale(0.8) rotateX(0);
  box-shadow: 
    0 50px 80px -20px rgba(255, 203, 0, 0.5),
    0 0 25px 15px rgba(255, 111, 0, 0.5),
    0 0 30px 20px rgba(0, 0, 0, 0.4);
}

  .star-card h3 {
    position: absolute;
    justify-self: center;
    top: 55px;
    left: 0px;
    font-family: 'Satisfy', cursive;
    font-size: 64px;
    text-align: center;
    color: black;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 10px 15px;
  }
  
  .star-lineup-container h2 {
    font-family: 'Satisfy', cursive;
    font-size: 80px;
    text-align: center;
    color: #FFCC00;
    text-shadow: 
      3px 3px 10px rgba(255, 204, 0, 0.9),
      0 0 10px rgba(255, 111, 0, 0.8),
      0 0 20px rgba(255, 179, 0, 0.7);
    background: linear-gradient(90deg, #FFCC00, #FFEB3B, #FF6F00, #000000, #FFB300);
    background: #FFCC00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 10px 15px;
  }
  
  @media (max-width: 300px) {
    .star-lineup-container {
      padding: 30px 10px;
      height: 620px;
    }
  
    .star-gift-container {
      left: -40%;
      top: 250px;
    }
  
  
    .star-gift {
      width: 180px;
      height: 70px;
      right: -50px;
    }
  
    .star-gift::before {
      width: 20px;
      left: 80px;
      height: 70px;
    }
  
    .star-gift::after {
      width: 180px;
      height: 80px;
      left: 0px;
    }
  
    .star-click {
      width: 200px;
      height: 25px;
      top: -25px;
      left: -10px;
    }
  
    .star-click::before {
      width: 20px;
      height: 25px;
      left: 90px;
      top: 0px;
    }
  
    .star-click::after {
      left: 84px;
    }
  
    .star-lineup-container h2 {
      font-size: 54px;
    }
  
    .star-card {
      width: 270px;
      height: 250px;
      bottom: 1px;
      left: 10px;
    }
  
    #star-click:checked+.star-click {
      transform: rotate(-110deg) scale(0.85);
    }
  
    #star-click:checked~.next-card-button {
      transform: translateY(-300px) translateX(17px);
    }
  
    .next-card-button {
      position: absolute;
      margin-top: 0px;
      padding: 8px 16px;
      font-size: 14px;
      left: 20px;
    }
  
    .star-gift-container::before {
      width: 180px;
      height: 20px;
      border-radius: 50%;
      top: 80px;
      right: -50px;
    }
  }

  @media (min-width: 300px) and (max-width: 380px) {
    .star-lineup-container {
      padding: 30px 10px;
      height: 620px;
    }
  
    .star-gift-container {
      left: -40%;
      top: 315px;
    }
  
  
    .star-gift {
      width: 180px;
      height: 70px;
      right: -50px;
    }
  
    .star-gift::before {
      width: 20px;
      left: 80px;
      height: 70px;
    }
  
    .star-gift::after {
      width: 180px;
      height: 80px;
      left: 0px;
    }
  
    .star-click {
      width: 200px;
      height: 25px;
      top: -25px;
      left: -10px;
    }
  
    .star-click::before {
      width: 20px;
      height: 25px;
      left: 90px;
      top: 0px;
    }
  
    .star-click::after {
      left: 84px;
    }
  
    .star-lineup-container h2 {
      font-size: 54px;
    }
  
    .star-card {
      width: 270px;
      height: 250px;
      bottom: 1px;
      left: 10px;
    }
  
    #star-click:checked+.star-click {
      transform: rotate(-110deg) scale(0.85);
    }
  
    #star-click:checked~.next-card-button {
      transform: translateY(-300px) translateX(17px);
    }
  
    .next-card-button {
      position: absolute;
      margin-top: 0px;
      padding: 8px 16px;
      font-size: 14px;
      left: 20px;
    }
  
    .star-gift-container::before {
      width: 180px;
      height: 20px;
      border-radius: 50%;
      top: 80px;
      right: -50px;
    }
    .star-lineup-container h2 {
      font-size: 50px;
    }
  }
  
  
  @media (min-width: 380px) and (max-width: 500px) {
  
    .star-lineup-container {
      padding: 40px 15px;
      height: 620px;
    }
  
    .star-gift-container {
      left: -40%;
      top: 270px;
    }
  
    .star-gift-container::before {
      width: 180px;
      height: 20px;
      border-radius: 50%;
      top: 80px;
      right: -50px;
    }
  
    .star-gift {
      width: 180px;
      height: 70px;
      right: -50px;
    }
  
    .star-gift::before {
      width: 20px;
      left: 80px;
      height: 70px;
    }
  
    .star-gift::after {
      width: 180px;
      height: 80px;
      left: 0px;
    }
  
    .star-click {
      width: 200px;
      height: 25px;
      top: -25px;
      left: -10px;
    }
  
    .star-click::before {
      width: 20px;
      height: 25px;
      left: 90px;
      top: 0px;
    }
  
    .star-click::after {
      left: 84px;
    }
  
    .star-card {
      width: 270px;
      height: 250px;
      bottom: 1px;
      left: 10px;
    }
  
    #star-click:checked+.star-click {
      transform: rotate(-110deg) scale(0.85);
    }
  
    #star-click:checked~.next-card-button {
      transform: translateY(-345px) translateX(17px);
    }
  
    .next-card-button {
      position: absolute;
      margin-top: 50px;
      padding: 8px 16px;
      left: 20px;
      font-size: 14px;
    }
    .star-lineup-container h2 {
      font-size: 60px;
    }
  
  }
  
  @media (min-width: 500px) and (max-width: 700px) {
  
    .star-lineup-container {
      padding: 40px 15px;
      background-image: url("/src/star_dev_images/stage6.avif");
    }
  
    .star-gift-container::before {
      width: 180px;
      height: 20px;
      border-radius: 50%;
      top: 80px;
      right: -50px;
    }
  
    #star-click:checked+.star-click {
      transform: rotate(-115deg) scale(0.85);
    }
  
    #star-click:checked~.next-card-button {
      transform: translateY(-345px) translateX(17px);
    }
  
  
    .star-gift-container {
      left: -43%;
      top: 325px;
    }
  
    .star-gift {
      width: 220px;
      height: 80px;
      right: -50px;
    }
  
    .star-gift::before {
      width: 20px;
      left: 100px;
      height: 80px;
    }
  
    .star-gift::after {
      width: 220px;
      height: 80px;
      left: 0px;
    }
  
    .star-click {
      width: 240px;
      height: 25px;
      top: -25px;
      left: -10px;
    }
  
    .star-click::before {
      width: 20px;
      height: 25px;
      left: 110px;
      top: 0px;
    }
  
    .star-click::after {
      left: 103px;
    }
  
    .star-card {
      width: 350px;
      height: 250px;
      bottom: 1px;
      left: -10px;
    }
  
    .next-card-button {
      position: absolute;
      margin-top: 40px;
      padding: 8px 16px;
      left: 20px;
      font-size: 14px;
    }
  
  }
  
  
  @media (min-width: 700px) and (max-width: 1000px) {
  
    .star-lineup-container {
      padding: 40px 15px;
      background-image: url("/src/star_dev_images/stage6.avif");
    }
  
    .star-gift-container {
      left: -43%;
      top: 325px;
    }
  
    #star-click:checked~.next-card-button {
      transform: translateY(-345px) translateX(17px);
    }
  
    .star-gift-container::before {
      width: 220px;
      height: 20px;
      border-radius: 50%;
      top: 88px;
      right: -48px;
    }
  
    .star-gift {
      width: 220px;
      height: 80px;
      right: -50px;
    }
  
    .star-gift::before {
      width: 20px;
      left: 100px;
      height: 80px;
    }
  
    .star-gift::after {
      width: 220px;
      height: 80px;
      left: 0px;
    }
  
    .star-click {
      width: 240px;
      height: 25px;
      top: -25px;
      left: -10px;
    }
  
    .star-click::before {
      width: 20px;
      height: 25px;
      left: 110px;
      top: 0px;
    }
  
    .star-click::after {
      left: 103px;
    }
  
    .star-card {
      width: 350px;
      height: 250px;
      bottom: 1px;
      left: -10px;
    }
  
    #star-click:checked+.star-click {
      transform: rotate(-120deg) scale(0.85);
    }
  
    #star-click:checked~.next-card-button {
      transform: translateY(-345px) translateX(17px);
    }
  
    .next-card-button {
      position: absolute;
      margin-top: 40px;
      padding: 8px 16px;
      left: 20px;
      font-size: 14px;
    }
  
  }
  
  
  @media (min-width: 1001px) {
  
    .star-lineup-container {
      padding: 50px 20px;
      background: black;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      height: 750px;
      background-image: url("/src/star_dev_images/stage6.avif");
    }
  
    .star-gift-container {
      top: 420px;
      left: -49%;
    }
  
    .star-gift {
      width: 350px;
      height: 110px;
      right: -150px;
    }
  
    .star-gift::before {
      width: 25px;
      left: 165px;
      height: 110px;
    }
  
    .star-gift::after {
      position: absolute;
      width: 350px;
      height: 120px;
    }
  
    .star-click {
      width: 370px;
      height: 40px;
      top: -40px;
      font-size: 24px;
    }
  
    .star-click::before {
      width: 25px;
      height: 40px;
      left: 175px;
    }
  
    .star-click::after {
      left: 170px;
    }
  
    #star-click:checked+.star-click {
      transform: rotate(-130deg) scale(0.85);
    }
  
    .star-gift-container::before {
      width: 200px;
      right: -100px;
    }
  
    .star-card {
      width: 500px;
      height: 370px;
      left: -20px;
      transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(20deg) scale(1.1, 1.1);
    }
  
    #star-click:checked~.next-card-button {
      transform: translateY(-365px) translateX(0px);
    }
  
    .next-card-button {
      position: absolute;
      margin-top: -40px;
      left: 100px;
      padding: 10px 20px;
      font-size: 16px;
    }
  
    .star-card h3 {
      position: absolute;
      justify-self: center;
      top: 40px;
      left: 0px;
      font-family: 'Satisfy', cursive;
      font-size: 120px;
    }
  }  